.green {
    color: green;
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bold;
}

form.input.ng-invalid.ng-touched, form.textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}