<div style="padding: 10px 0px 0px 40px" class="row">
  <div *ngFor="let cmt of cmtList;let idx = index">
    <div class="col-md-12">
      <hr style="opacity:0">
      <div class="nestCmt" style="padding:10px 20px;">
        <div style="width: 8%" class="col-md-4">
          <img src="assets/21294.png" height="60" width="60" alt="Image">
        </div>
        <div style="padding: 0px 30px" class="col-md-8">
          <h6><strong>{{cmt.userName}}</strong></h6>
          <h6>{{cmt.cmtentered}}</h6>
          <span><img src="assets/up.png" (click)="countPlusOne(idx,'cmtId_')" height="20" width="20"></span>
          <span><img src="assets/down.png" (click)="countMinusOne(idx,'cmtId_')" height="20" width="20"></span>
          <span id="cmtId_{{idx}}" style="padding:0px 4px">0</span>
          <span (click)="openModal(cmtf)">Reply</span>
          <span style="padding-left:10px">Share</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="prt_{{prtIndex}}" *ngIf="showReplyMain" class="row formPadding">
  <form id="commentForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="col-md-8">
      <div class="form-group">
        <input type="textarea" class="form-control" type="text" placeholder="Write a Reply...." class="form-control"
          ngModel name="commentBox">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="username" ngModel name="username">
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-success">Reply</button>
      <span style="padding-left:2px"></span>
      <button type="button" class="btn btn-grey" aria-label="Close" (click)="onCloseHandled()">Hide</button>
    </div>
  </form>
</div>