
/* You can add global styles to this file, and also import other style files */

.green {
    color: green;
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bold;
}

input.form-control.ng-touched.ng-invalid {
    border: 1px solid red;
}

textarea.form-control.ng-touched.ng-invalid {
    border: 1px solid red;  
}
.form-control{
    border-radius: 1rem;
}